---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <div class="label">

            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ page.date | date: "%F" }}
            </div>

            <div class="label-card">
                {% if page.author %}<i class="fa fa-user"></i>{{ page.author }}
                {% endif %}
            </div>

            <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
            </div>

            <div class="label-card">
            {% include category.html %}
            </div>

            <div class="label-card">
            {% include tag.html %}
            </div>

        </div>
        <hr>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <hr>

        {% assign hasSimilar = '' %}
        {% for post in site.related_posts %}
            {% assign postHasSimilar = false %}
            {% for tag in post.tags %}
                {% for thisTag in page.tags %}
                    {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                        {% if hasSimilar.size == 0 %}
                        <h2 id="similar_posts">Similar Posts</h2>
                        <ul>
                        {% endif %}
                        <li class="relatedPost">
                            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}
                            {% if post.series %}
                                (Series: {{ post.series }})
                            {% endif %}
                            </a>
                        </li>
                        {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                        {% assign postHasSimilar = true %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        {% if hasSimilar.size > 0 %}
            </ul>
        {% endif %}

        {% include previousAndNext.html %}

	<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ferlendaakre.github.io&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="/assets/images/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Ferlendaakre.github.io&text=:%20http%3A%2F%2Ferlendaakre.github.io" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="/assets/images/Twitter.png"></a></li>
  <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Ferlendaakre.github.io&t=&s=" target="_blank" title="Post to Tumblr" onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title)); return false;"><img alt="Post to Tumblr" src="/assets/images/Tumblr.png"></a></li>
  <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Ferlendaakre.github.io&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Submit to Reddit" src="/assets/images/Reddit.png"></a></li>
  <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Ferlendaakre.github.io" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="/assets/images/Email.png"></a></li>
</ul>

        <h2 id="comments">Comments</h2>
        {% include comments.html %}


    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    Content
                </div>
                <ul id="content-side" class="content-ul">
                    <li><a href="#similar_posts">Similar Posts</a></li>
                    <li><a href="#comments">Comments</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
